#sidebar.sidebar.responsive
  %ul.nav.nav-list
    %li.active#dashboard
      %a{:href => "/"}
        %i.menu-icon.fa.fa-file-word-o
        %span.menu-text Blog
      %b.arrow
    %li#calendar
      %a{:href => "#"}
        %i.menu-icon.fa.fa-edit
        %span.menu-text Recipe
      %b.arrow
    %li#companies
      %a{:href => "#"}
        %i.menu-icon.fa.fa-comments
        %span.menu-text Review
      %b.arrow
